*.elc
*~
\#*
*.lock
/elpa
/ac-comphist.dat
/.emacs.desktop
/.session
/session.*
/eshell/*
/frame-restore-parameters
/history
/.python-environments
/custom.el
/.bookmarks.el
/.mc-lists.el
/site-lisp/*
/projectile-bookmarks.eld
/tramp
/projectile.cache
/RFC
/srecode-map.el
